body 
{
background-color: #061330;
}

#map {
	display: flex;
	overflow:visible;
	min-height: 400px;
	min-width: 600px;
	width: 80%;
	height: 100%;
	padding: 20px;
	border: 2px solid;
	background-color:#A1BEBF;
	border-radius: 25px;
	border-top-left-radius:0;
	position: relative;
	}
	
.node {
	font-size: 120%;
	color: white;
    min-width: 100px;
	min-height:100px;
	max-width: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
	background-color: #0D4949;
    box-shadow: 10px 10px 5px #123456;
	border: 2px solid;
	border-color:#013A01;
	text-align:center;
    border-radius: 25px;
	position: absolute;
	opacity: 0.1;
	clear: both;
	z-index: 98;
}

.node:hover{
      box-shadow: 10px 10px 5px #000000;
	  cursor: pointer; cursor: hand;
}

.node p {
}

.selected {
	opacity: 1;
	font-size: 150%;
	color: black;
	min-height: 50px;
	min-width: 250px;
    margin-right: 5px;
    margin-bottom: 5px;
	background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
	border: 2px solid;
	border-color:#013A01;
	text-align:center;
    border-radius: 25px;
	position: absolute;
	opacity: 0.1;
	clear: both;
	z-index: 99;
}


.line {
	color: white;
	font-size:small;
    float: left;
	margin-top:25px;
    width: 64px;
	line-height: 15px;
	text-align:center;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: grey;
}
.left {
	width: 300px; /*can be in percentage also.*/
	height: 650px;
	border: 2px solid;
	float:left;
	margin: 0;
	position: relative;
	padding-top: 10px;
	background-color: #2E4272;
	
}
#info_title{
	width: 75%;
	height: 50px;
	margin: auto;
	border-radius: 25px;
	border: 2px solid;
	padding: 15px;
	background-color: #7D8EB8;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	

}
#info_box {
	width: 75%;
	height: 65%;
	margin: auto;
	border: 2px solid;
	padding: 15px;
	background-color: #7D8EB8;
}
#button_box{
	width: 75%;
	height: 50px;
	margin: auto;
	border-radius: 25px;
	border: 2px solid;
	padding: 15px;
	background-color: #7D8EB8;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
}

#nodeList{
padding-top: 50px;
margin: auto;
width: 75%;
height: 80%;

}
.nodeList{
margin: auto;
width: 75%;
height: 50px;
box-shadow: 10px 10px 5px #123456;
border: 2px solid;
border-color:white;
text-align:center;
background-color: #2E4272;
line-height: 50px;
}
.nodeList:hover{
background-color: #7D8EB8;
cursor: pointer; cursor: hand;
}

.line_label{
font-size: small;
background-color: #7D8EB8;
border: 2px solid black;
border-radius: 0.5em;
color: white;
}

.line_label:hover{
font-size: medium;
border-color:#013A01;
}

#picBox{
height:100px;
width:100px;
}

.infoPic{
height:100%;
}
